body{
    font-weight: 300;
    background-color: rgb(44, 41, 41);
    font-size: 16px
}
.container{
    max-height: fit-content;
    max-width: 44rem;
    border-radius: 20px;
     background-color: rgb(37, 34, 34);
     margin: 8rem auto;
    display: flex;
    align-items: center;
}
img{
    border-radius: 50%;
     justify-content: center;
}
h2{
    
    font-size:1.9rem ;
    color: rgb(226, 229, 231);
}
.ONE{
    color: rgb(178, 219, 11);
}
.to{
color: aliceblue;
}
.link{
    color: aliceblue;
}
.link.li{
     background-color: bisque;
      
}
/*
body{
    font-family: "Outfit",sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    background-color: hsl(30,54%,90%);
    color: hsl(24, 5%, 18%);
}
.container{
 background-color: white;
 max-height: fit-content;
 max-width: 44rem;
 border-radius: 18px;
 margin: 8rem  auto;
 display: flex;
 align-items: center;

}/*